In [124]:
import polars as pl

DATASET_PATH = 'data/5-Housing.csv'

df = pl.read_csv(DATASET_PATH)
df.head()

shape: (5, 13)
┌──────────┬──────┬──────────┬───────────┬───┬────────────────┬─────────┬──────────┬───────────────┐
│ price    ┆ area ┆ bedrooms ┆ bathrooms ┆ … ┆ airconditionin ┆ parking ┆ prefarea ┆ furnishingsta │
│ ---      ┆ ---  ┆ ---      ┆ ---       ┆   ┆ g              ┆ ---     ┆ ---      ┆ tus           │
│ i64      ┆ i64  ┆ i64      ┆ i64       ┆   ┆ ---            ┆ i64     ┆ str      ┆ ---           │
│          ┆      ┆          ┆           ┆   ┆ str            ┆         ┆          ┆ str           │
╞══════════╪══════╪══════════╪═══════════╪═══╪════════════════╪═════════╪══════════╪═══════════════╡
│ 13300000 ┆ 7420 ┆ 4        ┆ 2         ┆ … ┆ yes            ┆ 2       ┆ yes      ┆ furnished     │
│ 12250000 ┆ 8960 ┆ 4        ┆ 4         ┆ … ┆ yes            ┆ 3       ┆ no       ┆ furnished     │
│ 12250000 ┆ 9960 ┆ 3        ┆ 2         ┆ … ┆ no             ┆ 2       ┆ yes      ┆ semi-furnishe │
│          ┆      ┆          ┆           ┆   ┆                ┆         ┆          ┆ d             │
│ 12215000 ┆ 7500 ┆ 4        ┆ 2         ┆ … ┆ yes            ┆ 3       ┆ yes      ┆ furnished     │
│ 11410000 ┆ 7420 ┆ 4        ┆ 1         ┆ … ┆ yes            ┆ 2       ┆ no       ┆ furnished     │
└──────────┴──────┴──────────┴───────────┴───┴────────────────┴─────────┴──────────┴───────────────┘

In [125]:
df.describe()

shape: (9, 14)
┌────────────┬──────────┬────────────┬──────────┬───┬────────────┬──────────┬──────────┬───────────┐
│ statistic  ┆ price    ┆ area       ┆ bedrooms ┆ … ┆ airconditi ┆ parking  ┆ prefarea ┆ furnishin │
│ ---        ┆ ---      ┆ ---        ┆ ---      ┆   ┆ oning      ┆ ---      ┆ ---      ┆ gstatus   │
│ str        ┆ f64      ┆ f64        ┆ f64      ┆   ┆ ---        ┆ f64      ┆ str      ┆ ---       │
│            ┆          ┆            ┆          ┆   ┆ str        ┆          ┆          ┆ str       │
╞════════════╪══════════╪════════════╪══════════╪═══╪════════════╪══════════╪══════════╪═══════════╡
│ count      ┆ 545.0    ┆ 545.0      ┆ 545.0    ┆ … ┆ 545        ┆ 545.0    ┆ 545      ┆ 545       │
│ null_count ┆ 0.0      ┆ 0.0        ┆ 0.0      ┆ … ┆ 0          ┆ 0.0      ┆ 0        ┆ 0         │
│ mean       ┆ 4.7667e6 ┆ 5150.54128 ┆ 2.965138 ┆ … ┆ null       ┆ 0.693578 ┆ null     ┆ null      │
│            ┆          ┆ 4          ┆          ┆   ┆            ┆          ┆          ┆           │
│ std        ┆ 1.8704e6 ┆ 2170.14102 ┆ 0.738064 ┆ … ┆ null       ┆ 0.861586 ┆ null     ┆ null      │
│            ┆          ┆ 3          ┆          ┆   ┆            ┆          ┆          ┆           │
│ min        ┆ 1.75e6   ┆ 1650.0     ┆ 1.0      ┆ … ┆ no         ┆ 0.0      ┆ no       ┆ furnished │
│ 25%        ┆ 3.43e6   ┆ 3600.0     ┆ 2.0      ┆ … ┆ null       ┆ 0.0      ┆ null     ┆ null      │
│ 50%        ┆ 4.34e6   ┆ 4600.0     ┆ 3.0      ┆ … ┆ null       ┆ 0.0      ┆ null     ┆ null      │
│ 75%        ┆ 5.74e6   ┆ 6360.0     ┆ 3.0      ┆ … ┆ null       ┆ 1.0      ┆ null     ┆ null      │
│ max        ┆ 1.33e7   ┆ 16200.0    ┆ 6.0      ┆ … ┆ yes        ┆ 3.0      ┆ yes      ┆ unfurnish │
│            ┆          ┆            ┆          ┆   ┆            ┆          ┆          ┆ ed        │
└────────────┴──────────┴────────────┴──────────┴───┴────────────┴──────────┴──────────┴───────────┘

In [126]:
df.null_count()

shape: (1, 13)
┌───────┬──────┬──────────┬───────────┬───┬─────────────────┬─────────┬──────────┬─────────────────┐
│ price ┆ area ┆ bedrooms ┆ bathrooms ┆ … ┆ airconditioning ┆ parking ┆ prefarea ┆ furnishingstatu │
│ ---   ┆ ---  ┆ ---      ┆ ---       ┆   ┆ ---             ┆ ---     ┆ ---      ┆ s               │
│ u32   ┆ u32  ┆ u32      ┆ u32       ┆   ┆ u32             ┆ u32     ┆ u32      ┆ ---             │
│       ┆      ┆          ┆           ┆   ┆                 ┆         ┆          ┆ u32             │
╞═══════╪══════╪══════════╪═══════════╪═══╪═════════════════╪═════════╪══════════╪═════════════════╡
│ 0     ┆ 0    ┆ 0        ┆ 0         ┆ … ┆ 0               ┆ 0       ┆ 0        ┆ 0               │
└───────┴──────┴──────────┴───────────┴───┴─────────────────┴─────────┴──────────┴─────────────────┘

## **Creation**

In [127]:
df = df.with_columns(
    pl.lit(0).alias('temp_col')
)
df.head()

shape: (5, 14)
┌──────────┬──────┬──────────┬───────────┬───┬─────────┬──────────┬──────────────────┬──────────┐
│ price    ┆ area ┆ bedrooms ┆ bathrooms ┆ … ┆ parking ┆ prefarea ┆ furnishingstatus ┆ temp_col │
│ ---      ┆ ---  ┆ ---      ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ---              ┆ ---      │
│ i64      ┆ i64  ┆ i64      ┆ i64       ┆   ┆ i64     ┆ str      ┆ str              ┆ i32      │
╞══════════╪══════╪══════════╪═══════════╪═══╪═════════╪══════════╪══════════════════╪══════════╡
│ 13300000 ┆ 7420 ┆ 4        ┆ 2         ┆ … ┆ 2       ┆ yes      ┆ furnished        ┆ 0        │
│ 12250000 ┆ 8960 ┆ 4        ┆ 4         ┆ … ┆ 3       ┆ no       ┆ furnished        ┆ 0        │
│ 12250000 ┆ 9960 ┆ 3        ┆ 2         ┆ … ┆ 2       ┆ yes      ┆ semi-furnished   ┆ 0        │
│ 12215000 ┆ 7500 ┆ 4        ┆ 2         ┆ … ┆ 3       ┆ yes      ┆ furnished        ┆ 0        │
│ 11410000 ┆ 7420 ┆ 4        ┆ 1         ┆ … ┆ 2       ┆ no       ┆ furnished        ┆ 0        │
└──────────┴──────┴──────────┴───────────┴───┴─────────┴──────────┴──────────────────┴──────────┘

In [128]:
df.with_columns(
    pl.col('price').alias('new_price')
).head()

shape: (5, 15)
┌──────────┬──────┬──────────┬───────────┬───┬──────────┬──────────────────┬──────────┬───────────┐
│ price    ┆ area ┆ bedrooms ┆ bathrooms ┆ … ┆ prefarea ┆ furnishingstatus ┆ temp_col ┆ new_price │
│ ---      ┆ ---  ┆ ---      ┆ ---       ┆   ┆ ---      ┆ ---              ┆ ---      ┆ ---       │
│ i64      ┆ i64  ┆ i64      ┆ i64       ┆   ┆ str      ┆ str              ┆ i32      ┆ i64       │
╞══════════╪══════╪══════════╪═══════════╪═══╪══════════╪══════════════════╪══════════╪═══════════╡
│ 13300000 ┆ 7420 ┆ 4        ┆ 2         ┆ … ┆ yes      ┆ furnished        ┆ 0        ┆ 13300000  │
│ 12250000 ┆ 8960 ┆ 4        ┆ 4         ┆ … ┆ no       ┆ furnished        ┆ 0        ┆ 12250000  │
│ 12250000 ┆ 9960 ┆ 3        ┆ 2         ┆ … ┆ yes      ┆ semi-furnished   ┆ 0        ┆ 12250000  │
│ 12215000 ┆ 7500 ┆ 4        ┆ 2         ┆ … ┆ yes      ┆ furnished        ┆ 0        ┆ 12215000  │
│ 11410000 ┆ 7420 ┆ 4        ┆ 1         ┆ … ┆ no       ┆ furnished        ┆ 0        ┆ 11410000  │
└──────────┴──────┴──────────┴───────────┴───┴──────────┴──────────────────┴──────────┴───────────┘

In [129]:
df.drop(['temp_col', 'bedrooms']).head()

shape: (5, 12)
┌──────────┬──────┬───────────┬─────────┬───┬────────────────┬─────────┬──────────┬────────────────┐
│ price    ┆ area ┆ bathrooms ┆ stories ┆ … ┆ airconditionin ┆ parking ┆ prefarea ┆ furnishingstat │
│ ---      ┆ ---  ┆ ---       ┆ ---     ┆   ┆ g              ┆ ---     ┆ ---      ┆ us             │
│ i64      ┆ i64  ┆ i64       ┆ i64     ┆   ┆ ---            ┆ i64     ┆ str      ┆ ---            │
│          ┆      ┆           ┆         ┆   ┆ str            ┆         ┆          ┆ str            │
╞══════════╪══════╪═══════════╪═════════╪═══╪════════════════╪═════════╪══════════╪════════════════╡
│ 13300000 ┆ 7420 ┆ 2         ┆ 3       ┆ … ┆ yes            ┆ 2       ┆ yes      ┆ furnished      │
│ 12250000 ┆ 8960 ┆ 4         ┆ 4       ┆ … ┆ yes            ┆ 3       ┆ no       ┆ furnished      │
│ 12250000 ┆ 9960 ┆ 2         ┆ 2       ┆ … ┆ no             ┆ 2       ┆ yes      ┆ semi-furnished │
│ 12215000 ┆ 7500 ┆ 2         ┆ 2       ┆ … ┆ yes            ┆ 3       ┆ yes      ┆ furnished      │
│ 11410000 ┆ 7420 ┆ 1         ┆ 2       ┆ … ┆ yes            ┆ 2       ┆ no       ┆ furnished      │
└──────────┴──────┴───────────┴─────────┴───┴────────────────┴─────────┴──────────┴────────────────┘

## **Data Manipulation**

In [130]:
df[['price', 'area']].head(5), df.select(['price', 'area']).head(5)

(shape: (5, 2)
 ┌──────────┬──────┐
 │ price    ┆ area │
 │ ---      ┆ ---  │
 │ i64      ┆ i64  │
 ╞══════════╪══════╡
 │ 13300000 ┆ 7420 │
 │ 12250000 ┆ 8960 │
 │ 12250000 ┆ 9960 │
 │ 12215000 ┆ 7500 │
 │ 11410000 ┆ 7420 │
 └──────────┴──────┘,
 shape: (5, 2)
 ┌──────────┬──────┐
 │ price    ┆ area │
 │ ---      ┆ ---  │
 │ i64      ┆ i64  │
 ╞══════════╪══════╡
 │ 13300000 ┆ 7420 │
 │ 12250000 ┆ 8960 │
 │ 12250000 ┆ 9960 │
 │ 12215000 ┆ 7500 │
 │ 11410000 ┆ 7420 │
 └──────────┴──────┘)

In [131]:
df.slice(0, 2)[['price', 'area']]

shape: (2, 2)
┌──────────┬──────┐
│ price    ┆ area │
│ ---      ┆ ---  │
│ i64      ┆ i64  │
╞══════════╪══════╡
│ 13300000 ┆ 7420 │
│ 12250000 ┆ 8960 │
└──────────┴──────┘

In [132]:
df.filter(
    (df['guestroom'] == 'yes') &
    (df['basement'] == 'no')
)[['price', 'area']].head(5)

shape: (5, 2)
┌─────────┬──────┐
│ price   ┆ area │
│ ---     ┆ ---  │
│ i64     ┆ i64  │
╞═════════╪══════╡
│ 9800000 ┆ 5750 │
│ 8890000 ┆ 4600 │
│ 7962500 ┆ 6000 │
│ 7350000 ┆ 6000 │
│ 7350000 ┆ 6000 │
└─────────┴──────┘

## **Advanced**

In [133]:
df = df.with_columns(
    pl.col('mainroad').map_elements(lambda x: str.upper(x), return_dtype=pl.Utf8),
    (pl.col('price').cast(pl.Utf8) + '$').alias('price')
)
df

shape: (545, 14)
┌───────────┬──────┬──────────┬───────────┬───┬─────────┬──────────┬──────────────────┬──────────┐
│ price     ┆ area ┆ bedrooms ┆ bathrooms ┆ … ┆ parking ┆ prefarea ┆ furnishingstatus ┆ temp_col │
│ ---       ┆ ---  ┆ ---      ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ---              ┆ ---      │
│ str       ┆ i64  ┆ i64      ┆ i64       ┆   ┆ i64     ┆ str      ┆ str              ┆ i32      │
╞═══════════╪══════╪══════════╪═══════════╪═══╪═════════╪══════════╪══════════════════╪══════════╡
│ 13300000$ ┆ 7420 ┆ 4        ┆ 2         ┆ … ┆ 2       ┆ yes      ┆ furnished        ┆ 0        │
│ 12250000$ ┆ 8960 ┆ 4        ┆ 4         ┆ … ┆ 3       ┆ no       ┆ furnished        ┆ 0        │
│ 12250000$ ┆ 9960 ┆ 3        ┆ 2         ┆ … ┆ 2       ┆ yes      ┆ semi-furnished   ┆ 0        │
│ 12215000$ ┆ 7500 ┆ 4        ┆ 2         ┆ … ┆ 3       ┆ yes      ┆ furnished        ┆ 0        │
│ 11410000$ ┆ 7420 ┆ 4        ┆ 1         ┆ … ┆ 2       ┆ no       ┆ furnished        ┆ 0        │
│ …         ┆ …    ┆ …        ┆ …         ┆ … ┆ …       ┆ …        ┆ …                ┆ …        │
│ 1820000$  ┆ 3000 ┆ 2        ┆ 1         ┆ … ┆ 2       ┆ no       ┆ unfurnished      ┆ 0        │
│ 1767150$  ┆ 2400 ┆ 3        ┆ 1         ┆ … ┆ 0       ┆ no       ┆ semi-furnished   ┆ 0        │
│ 1750000$  ┆ 3620 ┆ 2        ┆ 1         ┆ … ┆ 0       ┆ no       ┆ unfurnished      ┆ 0        │
│ 1750000$  ┆ 2910 ┆ 3        ┆ 1         ┆ … ┆ 0       ┆ no       ┆ furnished        ┆ 0        │
│ 1750000$  ┆ 3850 ┆ 3        ┆ 1         ┆ … ┆ 0       ┆ no       ┆ unfurnished      ┆ 0        │
└───────────┴──────┴──────────┴───────────┴───┴─────────┴──────────┴──────────────────┴──────────┘

In [134]:
df.group_by(['bedrooms', 'bathrooms']).agg(
    pl.col('area').mean().alias('Avg Area'),
    pl.col('area').max().alias('Max Area'),
    pl.col('area').min().alias('Min Area')
)

shape: (15, 5)
┌──────────┬───────────┬─────────────┬──────────┬──────────┐
│ bedrooms ┆ bathrooms ┆ Avg Area    ┆ Max Area ┆ Min Area │
│ ---      ┆ ---       ┆ ---         ┆ ---      ┆ ---      │
│ i64      ┆ i64       ┆ f64         ┆ i64      ┆ i64      │
╞══════════╪═══════════╪═════════════╪══════════╪══════════╡
│ 4        ┆ 2         ┆ 5952.854167 ┆ 12090    ┆ 2145     │
│ 4        ┆ 1         ┆ 5095.214286 ┆ 11440    ┆ 3000     │
│ 4        ┆ 4         ┆ 8960.0      ┆ 8960     ┆ 8960     │
│ 5        ┆ 3         ┆ 12390.0     ┆ 16200    ┆ 8580     │
│ 4        ┆ 3         ┆ 5400.0      ┆ 8580     ┆ 2610     │
│ …        ┆ …         ┆ …           ┆ …        ┆ …        │
│ 3        ┆ 3         ┆ 5097.5      ┆ 7500     ┆ 3300     │
│ 3        ┆ 2         ┆ 5759.638889 ┆ 10500    ┆ 1950     │
│ 5        ┆ 2         ┆ 5142.5      ┆ 7950     ┆ 2520     │
│ 6        ┆ 1         ┆ 3600.0      ┆ 3600     ┆ 3600     │
│ 6        ┆ 2         ┆ 4300.0      ┆ 4300     ┆ 4300     │
└──────────┴───────────┴─────────────┴──────────┴──────────┘

In [135]:
df.group_by(['bedrooms', 'bathrooms']).agg(
    pl.col('area').mean().alias('Avg Area'),
    pl.col('area').max().alias('Max Area'),
    pl.col('area').min().alias('Min Area')
).sort(['bedrooms', 'bathrooms', 'Avg Area'], descending=[False, False, True])

shape: (15, 5)
┌──────────┬───────────┬─────────────┬──────────┬──────────┐
│ bedrooms ┆ bathrooms ┆ Avg Area    ┆ Max Area ┆ Min Area │
│ ---      ┆ ---       ┆ ---         ┆ ---      ┆ ---      │
│ i64      ┆ i64       ┆ f64         ┆ i64      ┆ i64      │
╞══════════╪═══════════╪═════════════╪══════════╪══════════╡
│ 1        ┆ 1         ┆ 3710.0      ┆ 3970     ┆ 3450     │
│ 2        ┆ 1         ┆ 4670.25     ┆ 13200    ┆ 1836     │
│ 2        ┆ 2         ┆ 4092.0      ┆ 6600     ┆ 3150     │
│ 3        ┆ 1         ┆ 5057.598214 ┆ 15600    ┆ 1650     │
│ 3        ┆ 2         ┆ 5759.638889 ┆ 10500    ┆ 1950     │
│ …        ┆ …         ┆ …           ┆ …        ┆ …        │
│ 5        ┆ 1         ┆ 4391.25     ┆ 6840     ┆ 1905     │
│ 5        ┆ 2         ┆ 5142.5      ┆ 7950     ┆ 2520     │
│ 5        ┆ 3         ┆ 12390.0     ┆ 16200    ┆ 8580     │
│ 6        ┆ 1         ┆ 3600.0      ┆ 3600     ┆ 3600     │
│ 6        ┆ 2         ┆ 4300.0      ┆ 4300     ┆ 4300     │
└──────────┴───────────┴─────────────┴──────────┴──────────┘